// Converted Variables
// Custom Media Query Variables
/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

.sans-serif {
    font-family: 'Barlow', sans-serif;
}

.serif {
    font-family: 'Merriweather', serif;
}

code,
.code {
    font-family: 'Inconsolata', monospace;
}