@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,800);

/* Monokai */
.darkgrey   { color: #272822; }
.black      { color: #101010; }
.white      { color: #ffffff; }
.grey       { color: #75715e; }
.lightgrey  { color: #575855; }
.pink       { color: #f92672; }
.orange     { color: #fd971f; }
.yellow     { color: #f6f080; }
.green      { color: #a6e22e; }
.blue       { color: #4eb4fa; }
.purple     { color: #ae81ff; }

/* begin elements */
html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  min-width: 320px;
  font-size: 15pt;
  color: #fff;
  background: #272822;
  position: relative;
  min-height: 100%;
  line-height: 1.4; /* Thank you, McGuire <3 */
}

header {
  line-height: 3;
  background: #75715e;
}

header nav,
.footer-wrapper,
main {
  /* Nice readable width */
  max-width: 80ch;
  margin: 0 auto;
  padding: 10pt;
}

a, a:visited, a:hover, a:active {
  color: white;
}

nav {
  /* Link bar stuff. Note also repsonsive behaviors later in the file */
  display: flex;
  flex-flow: row wrap;
}

header nav a {
  margin-right: 10pt;
  color: #fff;
}

/* Previous & Next button nav */
.previous-next {
  justify-content: space-between;
}

.prevbutton, .nextbutton {
  background: #75715e;
  width:80px;
  padding: 10pt;
  text-align: center;
}

.prevbutton a, .nextbutton a {
  color: white;
}

main {
  padding-bottom: 50pt; /* footer stays at bottom */
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fd971f;
}

h1 {
  font-weight: 700;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

::-moz-selection {
  background: #fd971f;
}

::selection {
  background: #fd971f;
}

audio {
  margin: 10pt 0;
  width: 100%;
}

ul {
  list-style: disc outside none;
  margin-left: 0;
  padding-left: 1em;
}


hr {
  border: none;
  border-top: 1px solid #75715e;
}

footer {
  background: #222222;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50pt;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.date {
  color: #75715e;
}

/* Always handy float-clearing magic box */
.clear {
  clear: both;
}

/* Large screens */
@media all and (min-width: 1024px) {
  main p {
    text-align: justify;
  }

  audio {
    width:50%;
    transform-origin: left;
    transform: scale(2);
  }
}

/* Medium screens */
@media all and (max-width: 800px) {
  header nav {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
