<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Are We Audio Yet?</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,700|Merriweather:400,400i,700|Inconsolata:400,700"
        rel="stylesheet">
    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="sans-serif">
    {% block content %}{% endblock content %}
    {% block extra_body %}{% endblock extra_body %}
</body>

</html>